<h1>More infos about <%= @video_game.title  %></h1>

<%= render "card", locals: {title: @video_game.title, plateform: @video_game.plateform, price: @video_game.price, category: @video_game.category}  %>