<h1>More infos about <%= @video_game.title  %></h1>

<%= render partial: "shared/card", locals: {title: video_game.title, price: video_game.price, category: video_game.category, plateform: video_game.plateform, photo: video_game.photo}  %>