// Import page-specific CSS files here.
@import "home";

*,
button,
input {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

:root {
  --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
  --lightblue: #3d9dea;
  --darkblue: #4a4eee;
  --text-color: #d5e1ef;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #414850, #131720);
  color: var(--text-color);
}
body {
  justify-content: center;
  align-items: center;
}
