<div class="card-product">
  <img src= <%= photo %> />
  <div class="card-product-infos">
    <h2><%= title %></h2>
    <p><strong><%= available %></strong></p>
    <i class="fas fa-trash-alt"></i>
  </div>
</div>

