<div class="card-product">
    <% if photo %>
      <img src=<%= photo %> />
    <% end %>
    <div class="card-product-infos">
      <h2><%= title %></h2>
      <p><strong><%= available %></strong></p>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>
  
  