<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-techno.konbini.com/fr/files/2020/12/popcornfeat.jpg?ratio=16:9&w=640);">
  <div class="container">
    <h1>Welcome to Book Your Game!</h1>
    <p>Here you can rent any video game you want. Just sign in and start the adventure!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @homepage_video_games.each do |video_game| %>
      <%= render partial: "shared/card", locals: {title: video_game.title, price: video_game.price, category: video_game.category, plateform: video_game.plateform, photo: video_game.photo}  %>
    <% end %>
  </div>
</div>
<%# <%= render partial: "card", locals: {title: @homepage_video_games[0].title, price: 5, category: "RPG", plateform: "Switch"}  %>
