<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-techno.konbini.com/fr/files/2020/12/popcornfeat.jpg?ratio=16:9&w=640);">
  <div class="container">
    <h1>Welcome to Book Your Game!</h1>
    <p>Here you can rent any video game you want. Just sign in and start the adventure!</p>
  </div>
</div>
<div class="container">
  <% @homepage_video_games.each do |video_game| %>
  <div class="card">
       <%= video_game.title %>
       <%= video_game.plateform %>
       <%= video_game.price %>€ per day
       <%= video_game.category %>
  </div>
  <% end %>
</div>
