</div>
<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/thomaspointnet/image/upload/v1623924038/hrdbuow9kyxop9p81vww.jpg);">
  <div class="container">
    <h1>Welcome to Book Your Game!</h1>
    <p>Here you can rent any video game you want. Just sign in and start many adventures!</p>
  </div>
</div>
<div class="container">
  <h1 class="mb-3">Here Comes Some Of Our Bests Games !</h1>
  <div class="row cards mb-3">
    <% @homepage_video_games.each do |video_game| %>
      <%= render partial: "shared/card", locals: {title: video_game.title, price: video_game.price, category: video_game.category, plateform: video_game.plateform, photo: video_game.photo, user: video_game.user, id: video_game.id, available: video_game.available}  %>
    <% end %>
  </div>
</div>
<% if params[:new_rent] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Rent ok !
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="container">
