.navbar {
  background-color: #393e46;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  z-index: 999;
  .btn-outline-primary {
    color: var(--duck);
    border-color: var(--duck) !important;
  }
  .btn-outline-primary:hover {
    color: var(--text-color);
    background-color: var(--duck) !important;
  }
  .btn-outline-primary:active,
  .btn-outline-primary:focus {
    color: var(--duck);
    background-color: var(--duck) !important;
    border-color: var(--duck) !important;
    box-shadow: 0 0 0 0.2rem var(--duck) !important;
  }
}

.search-bar {
  width: 250px;
}

.my-rounded {
  border-radius: 100px;
}

.notification {
  position: relative;
  &-count {
    width: 20px;
    height: 20px;
    top: -7px;
    left: 24px;
    position: absolute;
    font-size: 12px;
    border-radius: 100px;
    background-color: var(--text-color);
    border: 2px solid var(--grey);
    color: var(--duck);
  }
}
